<div class="container">


    <h1 id="title">MIS TURNOS</h1>

    <h3>FILTRO:</h3>
    <input type="text" name="filtro" id="" [(ngModel)]="filtro" (ngModelChange)="filtrar()">
    <br>

    <div>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>Horario</th>
                    <th>Especialista</th>
                    <th>Estado</th>
                    <th>Especialidad</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let turno of turnosEnCursoFiltro">
                    <td>{{turno.horario}}</td>
                    <td>{{turno.especialista.apellido}}</td>
                    <td [ngSwitch]="turno.estado">
                        <p *ngSwitchCase="0">Aceptado</p>
                        <p *ngSwitchCase="1">Realizado</p>
                        <p *ngSwitchCase="2">Cancelado</p>
                        <p *ngSwitchCase="3">Rechazado</p>
                        <p *ngSwitchCase="4">Espera</p>
                    </td>
                    <td>{{turno.especialidad.nombre}}</td>
                    <td *ngIf="turno.estado ==4;else elseBlock"> <button class="cancel" (click)="cancelar(turno)">
                            Cancelar</button>
                    </td>
                    <td *ngIf="turno.resenia;else elseBlock"> <button class="info" (click)="verResenia(turno)">
                            Reseña</button>
                    </td>

                    <td *ngIf="turno.estado == 1 && turno.resenia;else elseBlock" (click)="encuesta(turno)"> <button
                            class="info">
                            Encuesta</button></td>

                    <td *ngIf="turno.estado == 1;else elseBlock"> <button class="info" (click)="calificar(turno)">
                            Calificar
                        </button></td>
                    <ng-template #elseBlock>
                        <td></td>
                    </ng-template>
                    <!-- 
                    <td><img height="100px" src="{{turno.img}}" alt="{{turno.nombre}}"></td>
                    <td><img height="100px" src="{{turno.img2}}" alt="{{turno.nombre}}"></td> -->

                </tr>
            </tbody>
        </table>
    </div>
</div>