#container-ingreso {
    background-color: rgba(228, 228, 228, 0.726);
    border-radius: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 400px;
    max-height: 830px;
    margin: 10px;
}