.container {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;
    grid-auto-flow: row;
    grid-template-columns: 260px 260px;
    grid-template-areas: x y;
}

.button {
    font-family: input-mono-narrow, monospace;
    font-weight: bolder;
    padding: 1rem 1.5rem;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 50px;
    color: rgb(204, 204, 204);
    font-size: xx-large;
    background-color: transparent;
    margin: 10px;

    #ingresar {
        grid-area: x;

    }

    #registrar {
        grid-area: y;
    }

    transition: all 0.3s ease;
}


.button:hover {
    background-color: rgb(69, 157, 197);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(204, 204, 204);
    transform: scale(1.1, 1.1);
    transition: all 0.3s ease;
}