#container-ingreso {
    height: 400px;
    width: 500px;
    background-color: rgba(228, 228, 228, 0.726);
    border-radius: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
    padding-bottom: 50px;
    margin: 10px;
}