#tabla {
    background-color: white;
    margin-top: 20px;
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
    height: 100%;

}

h1 {
    color: aliceblue;
}

.no-activo,
.activo {
    height: 30px;
    width: 100%;
}

.no-activo {
    background-color: rgb(175, 0, 0);
}

.activo {
    background-color: green;
}

.nav-item:hover,
.navbar-brand:hover {
    cursor: pointer;
}

.active {
    transform: scale(1.2);
    transition: all 0.3s ease-out;
}

#logout {
    color: rgba(175, 0, 0, 0.836);
    font-weight: bold;
}

p {
    margin: 0px;
}

td {
    width: 105px;
    text-align: center;
}

th {
    text-align: center;
    font-size: large;
}